.menu{
    
    &__header{
        display: flex;
        justify-content: space-between;
        background-color: #f6f6f6;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        width: 100%;
        position: relative;
        margin-top: -50px;
    }
    &__title{
        font-family: Shrikhand, sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
    &__btn{
        margin: 35px 15px 0 0;
        height: 2rem;
        width: 2rem;
        background-color: transparent;
        border: transparent 0px solid;
        padding: 0;
        display:flex;
        align-items:center;
        justify-content:center;
        cursor: pointer;
        position: relative;
        background-color: black;
    
        &:hover::before {
            opacity: 1;
        }
    
        &::before {
            opacity: 0;
            transition: 0.5s;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background:linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
        }
    }
    &__like{
        transition-duration: .25s;
        background-color: #f6f6f6;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display:flex;
        align-items:center;
        justify-content:center;
        mix-blend-mode: lighten;
    }
    &__btn:hover {
        .menu__like {
          &--noBg {
            opacity: 0;
          }
        }
    }
}
.submenus{
    padding: 15px;
    background-color: #f6f6f6;
}
.submenu{
    padding-bottom: 10px;
    &__title{
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 300;
        border-bottom: 3px solid #99E2D0;
        padding-bottom: 4px;
        width: 50px; 
    }
}

.menuItem{
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 4px 4px 6px #aaa;
    position: relative;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: padding-right 350ms ease-in-out;
    animation: itemAppear .8s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
    &:hover {
      padding-right: 70px;
    }
    &:hover .menuItem__wrapIcon {
      opacity: 1;
      transform: translate(-50px);
    }
    &:hover .fa-check {
      transform: rotate(360deg) ;
    }
    &__header{ 
        margin-top: -20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__title{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;  
    }
    &__description{
        margin-top: -15px;
        font-size: 0.9rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 40px;
    }
    &__price{
        display: flex;
        justify-content: right;
        margin-top: -33px;
        font-weight: bold;
        color: black;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 10px;
    }
    &__wrapIcon{
        @include wrapIcon;
    }
}
.wrapBtn .commandBtn{
    border: none;
    font-size: 1rem;
    border-radius: 30px;
    padding: 15px 20px 15px 20px; 
    background-image: $linear-gradient;
    color: #fff;
    font-weight: bold;
    box-shadow: 4px 4px 6px #aaa;
    cursor: pointer;
    margin: 30px 0;
    padding: 15px;
    width: 50%;
    &:hover{
        background-color: lighten(#9356dc, 10%);
        background-blend-mode: lighten;
        box-shadow: 4px 4px 6px #000; 
    }
}

.wrapBtn {
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    padding-bottom: 50px;
}

@for $i from 0 to 9 {
    .delay-#{$i} {
      animation-delay:  #{$i/20}s;
    }
}

/* Version Desktop */

@media screen and (min-width: 1200px) {
.menu{
    padding: 0 100px 0 100px;
}
.submenus{
    display: flex;
    justify-content: space-between;
}
.submenu{
    padding: 0 40px 0 40px;
    width: 400px;   
}
.wrapBtn .commandBtn{
    width: 15%;
}
}

/* version tablette */ 

@media screen and (min-width: 768px)
{
.menu{
    padding: 0 100px 0 100px;
    &__title{
        margin-left: 30px;
    }
}
.submenus{
   padding: 15px 50px 15px 50px; 
}
.wrapBtn .commandBtn{
    width: 25%;
}
}

/* version large */ 

@media screen and (min-width: 1440px) 
{
    .menu{
        padding: 0 200px 0 200px;
        
    }
    .wrapBtn .commandBtn{
        width: 12%;
    }
}