@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import './variables.scss';
@import './homepage/header.scss';
@import './homepage/local.scss';
@import './homepage/slogan.scss';
@import './homepage/tutoriel.scss';
@import './homepage/restaurant.scss';
@import './homepage/footer.scss';




span, p, h1, h2, h3, a, h4 {
    font-family: 'Roboto', sans-serif;
}

h3{
    font-size: 1.4rem;
}

body{
    margin: 0;
}

/* Version Desktop */

@media screen and (min-width: 1200px) {

}

/* version tablette */ 

@media screen and (min-width: 768px)
{

}

@media screen and (min-width: 1440px) 
{
    
}