@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import './variables.scss';
@import './homepage/header.scss';
@import './homepage/local.scss';
@import './homepage/slogan.scss';
@import './homepage/tutoriel.scss';
@import './homepage/restaurant.scss';
@import './homepage/footer.scss';

@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
} 

@keyframes jump {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(0.5rem);
    }
    75% {
      transform: translateY(-0.5rem);
    }
    100% {
      transform: translateY(0);
    }
}
.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.90);
    animation: loader 0.01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display:flex;
    align-items:center;
    justify-content:center;
  
    &__item {
      height: 1rem;
      width: 1rem;
      border-radius: 1rem;
      animation: jump 1s;
      animation-iteration-count: 1;
  
      &Container {
            display: flex;
            width: 5rem;
            justify-content: space-between;
        }
  
      &--1 {
            background-color: $color-primary;
        }
    
      &--2 {
            background-color: $color-secondary;
            animation-delay: 0.25s;
        }
    
      &--3 {
            background-color: $color-tertiary;
            animation-delay: 0.5s;
        }
    }
    
  
    
}


span, p, h1, h2, h3, a, h4 {
    font-family: 'Roboto', sans-serif;
}

h3{
    font-size: 1.4rem;
}

body{
    margin: 0;
}

/* Version Desktop */

@media screen and (min-width: 1200px) {

}

/* version tablette */ 

@media screen and (min-width: 768px)
{

}

@media screen and (min-width: 1440px) 
{
    
}